body{

}

#login-button {
  position: relative;
  left: 90%;
  margin: 2vmin;
  background-color: $dark-color;
  color: $primary-color;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
